<div *ngIf="allowed; else loading" class="reader" (contextmenu)="$event.preventDefault()">

    <div class="reader-header">

        <h2>📖 Premium Book Reader</h2>

        <div class="actions">

            <button class="back-btn" (click)="goBackToBooks()">
                ← Library
            </button>

            <button class="logout-btn" (click)="logout()">
                Logout
            </button>

        </div>

    </div>

    <!-- Watermark -->

    <div class="watermark">

        {{ user?.name }}

        <br>

        {{ user?.phone }}

    </div>

    <!-- PDF -->

    <div class="pdf-container">

        <pdf-viewer

            [src]="pdfUrl"

            [render-text]="true"

            [original-size]="false"

            style="display:block;height:80vh;">

        </pdf-viewer>

    </div>

</div>

<ng-template #loading>

<div class="loading">

    <div class="loader"></div>

    <h3>Checking Access...</h3>

</div>

</ng-template>