<footer class="footer">
    <div class="footer-container">
      <div class="footer-brand">
        <h3>SS Builds</h3>
        <p>Learn | Apply | Transform</p>
      </div>
  
      <div class="footer-contact">
        <h4>Contact Us</h4>
        <p>Email: ssbuilds.ebooks&#64;gmail.com</p>
        <p>Phone: +91 9372336433</p>
        <p>For Personal Training: +91 9372336433</p>
        <p>Whatsapp Assistance: +91 9372336433</p>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>© 2025 SS Builds. All rights reserved.</p>
    </div>
  </footer>
  