.subscription-container{

max-width:450px;

margin:auto;

margin-top:40px;

padding:30px;

border-radius:20px;

background:white;

box-shadow:0 10px 25px rgba(0,0,0,.15);

text-align:center;

}

.price{

font-size:50px;

font-weight:bold;

color:#28a745;

margin:20px 0;

}

.price span{

font-size:20px;

color:#666;

}

ul{

text-align:left;

margin-top:25px;

}

li{

padding:10px;

font-size:18px;

}

.subscribe-btn{

margin-top:30px;

width:100%;

padding:15px;

border:none;

border-radius:10px;

background:#ff5722;

color:white;

font-size:20px;

cursor:pointer;

}

.subscribe-btn:hover{

background:#e64a19;

}

// bottom navbar scss start

/* 🔥 BOTTOM NAVBAR */

.bottom-navbar {

  position: fixed;

  bottom: 0;

  left: 0;

  width: 100%;

  background: #0d0d0d;

  display: flex;

  justify-content: space-around;

  align-items: center;

  padding: 12px 0;

  border-top: 1px solid #222;

  z-index: 99999;

  backdrop-filter: blur(10px);
}

/* 🔥 NAV ITEM */

.nav-item {

  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  gap: 4px;

  color: #888;

  cursor: pointer;

  transition: 0.3s;

  font-size: 0.8rem;

  width: 25%;
}

/* 🔥 ICON */

.nav-item span {

  font-size: 1.4rem;

  transition: 0.3s;
}

/* 🔥 TEXT */

.nav-item p {

  margin: 0;

  transition: 0.3s;
}

/* 🔥 HOVER */

.nav-item:hover {

  color: white;

  transform: translateY(-2px);
}

/* 🔥 ACTIVE TAB */

.active {

  color: gold !important;
}

/* 🔥 ACTIVE ICON */

.active span {

  color: gold !important;

  transform: scale(1.1);
}

/* 🔥 ACTIVE TEXT */

.active p {

  color: gold !important;

  font-weight: 600;
}


//bottom navbar scss end