<div class="login">

  <h2 *ngIf="isRegisterMode">Register</h2>
  <h2 *ngIf="!isRegisterMode">Login</h2>

  <!-- REGISTER -->
  <input
    *ngIf="isRegisterMode"
    type="text"
    [(ngModel)]="name"
    placeholder="Full Name">

  <input
    *ngIf="isRegisterMode"
    type="text"
    [(ngModel)]="phone"
    placeholder="Phone Number"
    maxlength="10">

  <input
    type="email"
    [(ngModel)]="email"
    placeholder="Email Address">

  <input
    type="password"
    [(ngModel)]="password"
    placeholder="Password">

  <input
    *ngIf="isRegisterMode"
    type="password"
    [(ngModel)]="confirmPassword"
    placeholder="Confirm Password">

  <button
    (click)="submit()"
    [disabled]="isLoading">

    <span *ngIf="!isLoading">
      {{ isRegisterMode ? 'Register' : 'Login' }}
    </span>

    <span
      *ngIf="isLoading"
      class="btn-loader">
    </span>

  </button>

  <p (click)="toggleMode()">

    {{ isRegisterMode ?

    'Already have an account? Login'

    :

    'New user? Register'

    }}

  </p>

</div>

<!-- 🔥 BOTTOM NAVBAR start-->

<div class="bottom-navbar">

  <!-- HOME -->
  <div
    class="nav-item"
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <span>🏠</span>
    <p>Home</p>
  </div>

  <!-- EXPLORE -->
  <div
    class="nav-item"
    routerLink="/explore"
    routerLinkActive="active"
  >
    <span>🔍</span>
    <p>Explore</p>
  </div>

  <!-- MY BOOKS -->
  <div
    class="nav-item"
    routerLink="/my-books"
    routerLinkActive="active"
  >
    <span>📚</span>
    <p>My Books</p>
  </div>

  <!-- PROFILE -->
  <div
    class="nav-item"
    routerLink="/profile"
    routerLinkActive="active"
  >
    <span>👤</span>
    <p>Profile</p>
  </div>

</div>

<!-- 🔥 BOTTOM NAVBAR end-->